img {
    height: 150px;
    display: inline-block;
}

h3  {
    display: inline-block;
    vertical-align: top;
    margin-top: 65px;
}

h1, h2{
    text-align: center;
    background-color: rgb(210, 251, 230);
    border-radius: 25px;
    margin: 0;
}
